.listCartItems {
  padding: 30px 30px;
  background-color: #fff;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
  border-radius: 4px;
  min-height: 250px;
}

.cartEmpty {
  padding: 30px 30px;
  background-color: #fff;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.emptyText {
  text-align: center;
  font-size: 18px;
}

.generalHeader {
  padding: 30px 30px;
  background-color: #fff;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 40% 15% 15% 15% 15%;
  justify-items: center;
  color: #a2a2a2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
  border-radius: 4px;
}

.clickToPurchase {
  text-align: center;
  width: 20%;
}

.productHeader {
  justify-self: start;
}

.summaryBlock {
  padding: 30px 30px;
  background-color: #fff;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
  border-radius: 4px;
}

.totalPrice {
  color: #D70F13;
}

.disableCheckout {
  cursor: not-allowed;
  /* pointer-events: ; */
}